@import myapp.models.Forum;
@import myapp.models.Post;
@import myapp.models.User;

@args (Forum forum, User u)

@views.common.mainbot.template("Home") -> {
    <div class="page-header">
        <h1>
            @forum.title<br>
            @forum.subtitle<br>
            Posts [@u.name + @u.age]
        </h1>
    </div>
    <ul class="list-group">
        @for (Post p : forum.posts) {
            <li class="list-group-item">
                Title: <b>@p.title</b>
                <br>
                Body: @p.body
                <br>
                <img src="@p.image_url" class="thumbnail" style="width: 140px; height: 140px;">
                <br>
                Created At: @p.created_at

                <br>
                <br>
                Author Name: @p.author.name
                <br>
                Role: @p.author.role
                <br>
                Place: @p.author.place
                <br>
                <img src="@p.author.avatar_url" class="img-circle" style="width: 140px; height: 140px;">
            </li>
        }
    </ul>

    @if (forum.pageCount > 1) {
    <ul class="pagination">
        @if (forum.page > 1) {
        <li><a href="/@forum.url/1">&laquo;</a></li>
        }

        @with(short i = 1){
            @if (forum.page > 5) {
                i = +forum.page - 4
            }
            @if (i != 1) {
            <li class="disabled"><a href="#">...</a></li>
            }
            @for (Integer j = i; j<=forum.pageCount; j++) {
                @if (forum.page == j) {
                <li class="active"><span> @j <span class="sr-only">(current)</span></span></li>
                } else {
                <li><a href="/@forum.url/@j"> @j </a></li>
                }
                @if (j == (+forum.page + 4)) {
                <li class="disabled"><a href="#">...</a></li>
                break;
                }
            }
            @if (forum.page != forum.pageCount) {
            <li><a href="/@forum.url/@forum.pageCount ">&raquo;</a></li>
            }
        }
    </ul>
    }
}

