@import myapp.models.Collection;
@import myapp.models.Post;

@args (Collection collection, String title, String subtitle, String url, Integer page, Integer pageCount)

@views.common.main.template("HazelCast") -> {
    @if(collection.data != null){
        <div class="page-header">
            <h1>
                @title<br>
                @subtitle<br>
            </h1>
        </div>
        <ul class="list-group">

            @for (Post p : collection.data) {
            <li class="list-group-item">
                Title: <b>@p.title</b>
                <br>
                Body: @p.body
                <br>
                <img src="@p.image_url" class="thumbnail" style="width: 140px; height: 140px;">
                <br>
                Created At: @p.created_at

                <br>
                <br>
                Author Name: @p.author.name
                <br>
                Role: @p.author.role
                <br>
                Place: @p.author.place
                <br>
                <img src="@p.author.avatar_url" class="img-circle" style="width: 140px; height: 140px;">
            </li>
            }
        </ul>

        @if (pageCount > 1) {
        <ul class="pagination">
            @if (page > 1) {
            <li><a href="/@url/1">&laquo;</a></li>
            }

            @with(Integer i = 1){
            @if (page > 5) {
            i = +page - 4
            }
            @if (i != 1) {
            <li class="disabled"><a href="#">...</a></li>
            }
            @for (Integer j = i; j<=pageCount; j++) {
            @if (page == j) {
            <li class="active"><span> @j <span class="sr-only">(current)</span></span></li>
            } else {
            <li><a href="/@url/@j"> @j </a></li>
            }
            @if (j == (+page + 4)) {
            <li class="disabled"><a href="#">...</a></li>
            break;
            }
            }
            @if (page != pageCount) {
            <li><a href="/@url/@pageCount ">&raquo;</a></li>
            }
            }
        </ul>
        }
    } else {
        No Data. Please check your internet connection.
    }
}

