@import java.util.List;
@import myapp.models.PSE;

@args (List<PSE> pse, PSE firstNode)

@views.common.pse.template("PSE") -> {
    <h1>Philippine Stocks Exchange</h1>
    <h3>@firstNode.securitySymbol @firstNode.securityAlias</h3>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Total Volume</th>
                <th>Indicator</th>
                <th>% Change Close</th>
                <th>Last Traded Price</th>
                <th>Security Alias</th>
                <th>Indicator Image</th>
                <th>Security Symbol</th>
            </tr>
        </thead>
        <tbody>
        @for (PSE p : pse) {
            <tr>
                <td>@p.totalVolume</td>
                <td>@p.indicator</td>
                <td>@p.percChangeClose</td>
                <td>@p.lastTradedPrice</td>
                <td>@p.securityAlias</td>
                <td>@raw(p.indicatorImg)</td>
                <td>@p.securitySymbol</td>
            </tr>
        }
        </tbody>
    </table>
}