<h4>Kikaka (<a href="https://github.com/Skullabs/kikaha">https://github.com/Skullabs/kikaha</a>)</h4>
<h4>Rocker (<a href="https://github.com/fizzed/rocker">https://github.com/fizzed/rocker</a>)</h4>
<h4>HazelCast (<a href="http://hazelcast.org/">http://hazelcast.org/</a>)</h4>
<h4>A-Redis (<a href="http://aredis.sourceforge.net/">http://aredis.sourceforge.net/</a>)<h4>
<h4>Async HttpClient (<a href="https://github.com/AsyncHttpClient/async-http-client">https://github.com/AsyncHttpClient/async-http-client</a>)<h4>
<h4>S3 Async Support (<a href="https://github.com/s3tools/s3cmd">https://github.com/s3tools/s3cmd</a>)<h4>
<h4>JWT (<a href="https://github.com/auth0/java-jwt">https://github.com/auth0/java-jwt</a>)<h4>